button {
	margin: 10px 10px;
	font-family: 'Zen Dots', monospace;
	font-size: 1.75rem;
	width: auto;
	background-color: rgba(0, 0, 0, 0);
	color: #eee;
	border: 0;
	transition: all 400ms;
	text-transform: uppercase;
}

button:hover {
	cursor: url(img/crosshairs_cursor_active.png) 17.5 17.5, auto;

	color: var(--greeen);
}
